<h1> Welcome to Expense Split App </h1>

<%= render "/shared/errors" %>

<%= form_tag "/handle_login" do %>
    <%= label_tag :login_username %>
    <%= text_field_tag :login_username %>
    <%= submit_tag "Login" %>
<% end %>

<p> <%= button_to "Create new account", new_user_path, method: "get" %> </p>