<h1 class='title is-1'> Expense Split App</h1>

<%= render "/shared/errors" %>

<%= form_tag "/handle_login", {:class => 'login_form'} do %>
    <%= label_tag :username, nil, class:'label' %>
    <p class='text_field'> <%= text_field_tag :login_username, "", class:'input is-mediumd is-rounded level-item', placeholder:'Type username here' %> </p>
    <%= submit_tag "Login", class:"mgb-small button is-primary is-inverted is-outlined is-rounded is-fullwidth is-centered" %>
<% end %>

<%= button_to "Create new account", new_user_path, method: "get", class:"button is-primary is-inverted is-outlined is-rounded is-fullwidth is-centered" %> 