<h1> Expense Split App</h1>

<h2> Welcome <%=@user.name%> <h2>

<p> <%= button_to "Logout", logout_path, method: "delete" %> </p>

<h2> Please see the below for your previously attended events: </h2>

<ol> 
    <%@user.events.each do |event| %>
        <li>
            <%=link_to(event.name,event_path(event))%>
        </li>
    <% end %>
</ol>

<h3><%= link_to('Create New Event', new_event_path) %> </h3>

<h2> Here are your outstanding debts! </h2>

<ul> 
    <% @user.what_do_i_owe.each do |debt| %>
        <li>
            <%= "You owe #{debt.creditor.name} #{number_to_currency(debt.amount,{precision: 2,unit: '$'})} from #{debt.event.name}." %>
        </li>
    <% end %>
</ul>
<ul> 
    <% @user.what_is_owed_to_me.each do |debt| %>
        <li>
            <%= "#{debt.debtor.name} owes you #{number_to_currency(debt.amount,{precision: 2,unit: '$'})} from #{debt.event.name}." %>
        </li>
    <% end %>
</ul>