<h1 class='title is-1'> Expense Split App</h1>

<h2> Welcome <%=@user.name%> <h2>


<h2> Please see the below for your previously attended events: </h2>

<%= render "/shared/errors" %>

<ol> 
    <%@user.events.each do |event| %>
        <li>
            <%=link_to(event.name, event_path(event), class: "button is-primary is-inverted is-outlined is-small")%>
            <% if event.attendances.first.user.id == session[:user_id] %>
            <%= button_to "Delete Event", event_path(event), method: "delete", class: "button is-danger is-inverted is-outlined is-small"  %>
            <% end %>
        </li>
    <% end %>
</ol>


<h3><%= link_to('Create New Event', new_event_path, class: 'button is-primary is-rounded') %> <%= link_to('Join Existing Event', join_path, class: 'button is-primary is-rounded') %></h3>



<h2> Here are your outstanding debts! </h2>

<ul> 
    <% @user.what_do_i_owe.each do |creditor,debt| %>
        <li>
            <%= "You owe #{creditor.name} #{number_to_currency(debt,{precision: 2,unit: '$'})}" %>
        </li>
    <% end %>
</ul>
<ul> 
    <% @user.what_is_owed_to_me.each do |debtor,credit| %>
        <li>
            <%= "#{debtor.name} owes you #{number_to_currency(credit,{precision: 2,unit: '$'})}" %>
        </li>
    <% end %>
</ul>

<%= button_to "Logout", logout_path, method: "delete", class: "button is-primary is-inverted is-outlined is-rounded is-fullwidth"%> 