<h1> Expense Split App: <%= @event.name %>  </h1> 

<h2> Attendees: </h2>

<ul>
    <% @event.attendee_user_insts.each do |user| %>
        <li>
        <!-- ## Can set an if statement here so that only a session / cookie with the corresponding user can be linked to, for now all are link_to-->
            <%= link_to(user.name, user_path(user))%>
        </li>
    <% end %> 

</ul>

<h2> Expenses: </h2>

<ol>
        <% @event.expenses.each do |expense| %>
            <li>
                <%= "#{expense.description} -- Cost: $#{expense.cost}."%> 
            </li>
            <% end %> 

</ol>

<h2>+Add a new expense </h1>

<%= form_for @expense do |f| %>
    
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>
    <%= f.label :cost %>
    <%= f.number_field :cost %>
    <%= f.hidden_field :attendance_id, value: @attendance_id %>
    <%= f.submit "Submit expense" %>

<% end %>