<h1> Expense Split App: <%= @event.name %>  </h1> 


<h2> Logged in as: <%= User.find(session[:user_id]).name%></h2>

<h2> Attendees: </h2>

<ul>
    <% @event.attendee_user_insts.each do |user| %>
        <li>
        <!-- ## Can set an if statement here so that only a session / cookie with the corresponding user can be linked to, for now all are link_to-->
        <% if user.id == session[:user_id]%>
                <%= link_to(user.name, user_path(user))%> 
        <%else%> 
            <%= user.name %>
        <%end%> 
        </li>
    <% end %> 

</ul>

<h2> Expenses: </h2>

<ol>
        <% @event.expenses.each do |expense| %>
            <li>
                <%= "#{expense.attendance.user.name}: #{expense.description} -- Cost: $#{expense.cost}."%> 
            </li>
            <% end %> 

</ol>

<% if !@event.complete %>  
    <%= button_to "Mark this event as complete", complete_event_path(@event), method: "patch" %>

    <h2>+Add a new expense </h1>

    <%= form_for @expense do |f| %>
        
        <%= f.label :description, "Description" %>
        <%= f.text_field :description %>
        <%= f.label :cost %>
        <%= f.number_field :cost %>
        <%= f.hidden_field :attendance_id, value: @attendance_id %>
        <%= f.submit "Submit expense" %>
    
    <% end %>

<% else  %>
    <%= button_to "Add more expenses", undo_complete_event_path(@event), method: "patch" %>


<% end %>

<h2> Debts: </h2>

<ul>
    <% @event.debts.each do |debt| %>
        <li>
            <%= "#{debt.debtor.name} owes #{debt.creditor.name} #{number_to_currency(debt.amount,{precision: 2,unit: '$'})}" %> 
        </li>
    <% end %> 
</ul>