<h1> New expense </h1>

<%= form_for @expense do |f| %>
    


    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>
    <%= f.label :cost %>
    <%= f.number_field :cost %>
    <%= f.submit "Submit expense" %>

<% end %>